*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#06141f;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#0d2235;
position:sticky;
top:0;
}

.logo{
font-size:24px;
font-weight:700;
color:#4fd1ff;
}

nav a{
text-decoration:none;
color:white;
margin-left:20px;
transition:.4s;
}

nav a:hover{
color:#4fd1ff;
}

.hero{
text-align:center;
padding:60px 20px;
}

.hero img{
width:220px;
height:220px;
border-radius:50%;
border:5px solid #4fd1ff;
object-fit:cover;
box-shadow:0 0 30px #4fd1ff;
}

.hero h1{
margin-top:25px;
font-size:42px;
}

.hero span{
color:#4fd1ff;
}

.hero p{
margin:15px 0;
font-size:20px;
}

.btn{
display:inline-block;
padding:12px 30px;
background:linear-gradient(45deg,#4fd1ff,#00bcd4);
color:white;
text-decoration:none;
border-radius:30px;
font-weight:bold;
}

.card{
width:85%;
margin:40px auto;
padding:30px;
background:rgba(255,255,255,.08);
border-radius:20px;
backdrop-filter:blur(12px);
}

.card h2{
text-align:center;
margin-bottom:20px;
color:#4fd1ff;
}

#skills{
padding:40px 8%;
}

#skills h2{
text-align:center;
margin-bottom:30px;
color:#4fd1ff;
}

.skills{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
}

.skill{
background:#0f2b45;
padding:30px;
text-align:center;
border-radius:20px;
transition:.4s;
font-weight:600;
}

.skill:hover{
transform:translateY(-10px);
background:#123b5c;
}

input,textarea{
width:100%;
padding:15px;
margin:12px 0;
border:none;
border-radius:12px;
background:#123b5c;
color:white;
}

button{
width:100%;
padding:15px;
border:none;
background:#4fd1ff;
color:#06141f;
font-size:18px;
border-radius:12px;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#00bcd4;
}

footer{
text-align:center;
padding:25px;
background:#0d2235;
margin-top:40px;
}